*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(29, 81, 145);
  display: flex;
  justify-content: center;
  align-items: center;
}
.TodoForm{
  background: #e8e8f3;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  width: 100%;
  border-radius: 5px;
}

.todo-input{
  width: 300px;
  border: 1px solid #8758ff;
  height: 50px;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px 0 0 5px ;
}

.todo-btn{
  height: 50px;
  width: 60px;
  background: rgb(29, 81, 145);
  color: aliceblue;
  cursor: pointer;
  border: none;
  border-radius: 0 5px 5px 0;
}

.todo-list{
  list-style-type: none;
  margin-top: 20px;
}
li{
  padding: 15px;
  border: 1px solid;
  height: 50px;
  margin:  5px auto;
  display: flex;
  border-radius: 10px;
  
}

.btns{
  margin-left: auto;
  font-size: 1.5rem;
  color: rgb(23, 116, 197);
  cursor: pointer;
  border: none;
  float: right;
  display: flex;
}




.editform{
  position: absolute;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(138, 134, 134, 0.329);
}
.edit-task{
  width: 30%;
  height: 170px;
  background: rgba(13, 59, 176, 0.329);
  margin-left: 35%;
  margin-top: 190px;
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
  position: relative;
}
.edit-task input{
  width: 300px;
  border: 1px solid #8758ff;
  height: 40px;
  outline: none;
  border-radius: 5px 0  0 5px;
  padding: 5px 10px;
}

.edit-btn{
  height: 40px;
  width: 60px;
  background: rgb(17, 9, 160);
  color: rgb(242, 240, 255);
  cursor: pointer;
  position: relative;
  border: none;
  border-radius: 0 5px 5px 0;
}

.close-btn{
  position: absolute;
  top: 10px;
  right: 10px;

  color: rgb(142, 141, 149);
  cursor: pointer;
  border: none;
  font-size: 1.5rem;

}

.edit-task h2{
  margin: 10px;
  color: rgb(242, 240, 255);
}
.completed{
  text-decoration: line-through;
  color: #352b2b;

}